# dependencies
node_modules/
.pnp/
.pnp.js

# build output
dist/
build/
.vite/

# environment variables
.env
.env.local
.env.production
.env.development

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.log